[user]
	email = {{ .email | quote }}
	name = Eri Bastos
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge --skip -- %f
	process = git-lfs filter-process --skip
	required = true
[pull]
	rebase = false
[http]
	postBuffer = 1048576000
